# Avalanche Fuji Testnet Configuration
AVALANCHE_FUJI_RPC=https://api.avax-test.network/ext/bc/C/rpc
DEPLOYER_PRIVATE_KEY=6eb2251772c51b74966ab3547cab6cb8a1e514a31ad7be991aab7d715c770956

# Backend Configuration
PORT=4000
MONGODB_URI=mongodb://localhost:27017/herbtrace

# IPFS Configuration (for metadata storage)
PINATA_KEY=663ee724e9353291fd27
PINATA_SECRET=146c17cb7353afb5008b9005722726d53bbf2787b5dd34d42a116917ab396a5b

# Frontend Configuration (copy to frontend/.env.local)
NEXT_PUBLIC_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc
NEXT_PUBLIC_CHAIN_ID=43113